@using Microsoft.AspNetCore.Mvc.Localization
@using GitApp.Services
@inject IViewLocalizer Localizer
@model IReadOnlyList<GitApp.Models.ViewModels.VcsRepositoryViewModel>
@{
    ViewData["Title"] = "Index";
}
@{ var rowspanValue = 5;}

<h1>@Localizer["Name"]</h1>
<div id="loading-container">

</div>
<input type="text" id="inputUrl" class="form-control col-5 mb-3" />
<button type="submit" id="uploadButton" class="btn btn-dark mb-3">@Localizer["Upload"]</button>

<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Url</th>
            <th>@Localizer["Info"]</th>
            <th>@Localizer["MostChangingFiles"]</th>
            <th>@Localizer["FileChangesCount"]</th>
        </tr>
    </thead>
    <tbody>
        @{ var rowNumber = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td rowspan="@rowspanValue">@(rowNumber++)</td>
                <td rowspan="@rowspanValue">
                    <a href="@item.Url">@item.Url</a>
                </td>
                <td rowspan="@rowspanValue">
                    <a class="btn btn-dark" asp-action="Info" asp-route-id="@item.Id">Info</a>
                </td>
                @{ var fileName = item.Files[0].Name;}

                @Html.ShortTd(fileName)
                <td>@item.Files[0].Count</td>
            </tr>

            @for (var a = 1;a < rowspanValue; a++)
            {
                if (a < item.Files.Count)
                {
                    fileName = item.Files[a].Name;
                    <tr>
                        @Html.ShortTd(fileName)
                        <td>@item.Files[a].Count</td>
                    </tr>
                }
                else
                {
                    <tr></tr>
                }
            }
        }
    </tbody>
</table>
@{
    Html.RenderPartial("SignalRScripts.cshtml");
}