@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GitApp.Models.ViewModels.VcsRepositoryViewModel
@{
    ViewData["Title"] = "Info";
}

<h1>Info</h1>
<div class="row">
    <div class="col-md-7">
        <h3>@Model.Url</h3>
        <h5 class="text-muted">Last update: @Model.LastUpdate</h5>
    </div>
    <div class="col-md-5">
        <a class="btn btn-info" asp-action="Update" asp-controller="VcsRepository" asp-route-id="@Model.Id">@Localizer["Update"]</a>
    </div>
</div>
<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["FileChangesCount"]</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 1;}
        @foreach (var item in Model.Files)
        {
            <tr>
                <td>@(i++)</td>
                <td>@item.Name</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>